# ANTLR Files
Little.py
LittleLexer.py
LittleListener.py
LittleParser.py
*.tokens
*.interp

# Python Files
__pycache__
env/

# Mac Files
*.DS_Store

# Visual Studio Code Files
*.code-workspace

# Grading Files
usertest/